<div class="container">
  <h2>Welcome to Criminal Case Tracker</h2>
  <h3>Plase Signup:</h3>
  <form class='signup_form' method='post' action='user/new'>
  	Name:
  	<br>
  	<input type='text' name='name' autofocus='autofocus'><br><br>
  	Email:
  	<br>
  	<input type='email' name='email'><br><br>
  	Password:
  	<br>
  	<input type='password' name='password'>
  	<input type='submit' value='Signup!'>
  </form>

  <h3>Or Signin:</h3>
	<form class='signin_form' method='post' action='user/new'>
  	Name:
  	<br>
  	<input type='text' name='name'><br><br>
  	Email:
  	<br>
  	<input type='email' name='email'><br><br>
  	Password:
  	<br>
  	<input type='password' name='password'>
  	<input type='submit' value='Sigin!'>
  </form>

</div>
